.info-container{
    width: auto;
    background: #291C3A;
    height: 3vh;
    padding: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    

    
    
}
.experince{
    display: flex;
    flex-direction: row;
    color: white;
    font-size: 20px;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.three{
 color: white;
 font-size: 20px;
 font-weight: 900;
 gap: 10px;
 
}
.icon-section{
    gap: 20px;
    display: flex;
  
    
}
.icon-section img{
    height: 50px;
    width: 50px;

}


/* responsive code */

@media only screen and (max-width: 600px){
   .icon-section img{
    width: 40px;
    height: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
   } 
   .info-container{
    flex-wrap: wrap;
    height: auto;
   }
   .icon-section{
    margin-top: 20px;
    
    border-top:white 1px solid;
    border-bottom:white 1px solid;
   }
   .three .info-text{
    font-size: 15px;
    color: red;
   }
}