.heroContainer{
    width: auto;
    height: auto;
    background:linear-gradient(#291C3A,#331C52);
    display: flex;
    justify-content: space-between;
}
.webDevLogo{
 
 display: flex;
 flex-direction: column;
 
 
}
.hello{
    font-size: 30px;
    color: white;
    font-weight: bold;
}
.hero-salogan{
    color: #8121D0;
    font-size: 100px;
    font-weight: bold;
    
}
.buildThings{
    color: white;
    font-size: 30px;
    
    font-weight: bolder;

}
.social-icons{
    margin-top: 20px;
    display: flex;
    gap: 20px;
   
}
.social-icons img{
     
    height: 30px;
    width: 30px;
    filter: contrast(1.5);

}
.icon-container{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background: rgba(129, 33, 207,0.2);
    justify-content: center;
    align-items: center;
    display: flex;

}
.photo img{
    height: 600px;
    width: auto;
}
.main{
    padding-top: 100px;
    padding-left: 100px;
}


/* responsive code */

@media only screen and (max-width: 600px) {
    .photo img{
        
        margin-top: 30px;
        width: 300px;
        height: 300px;
        
    }
    .hero-salogan{
        font-size: 30px;
       
    }
    .main{
        padding-top: 50px;
        padding-left: 20px;
    }
    .icon-container{
        height: 30px;
        width: 30px;
        
        background: white;
        justify-content: center;
        align-items: center;
        display: flex;
        
    
    }
    .icon-container img{
    height: 20px;
    width: 20px;
    
    }
    .main{
        flex-wrap: wrap;
    }
    .buildThings{
        font-size: 20px;
    }
    .heroContainer{
        overflow: hidden;
    }
    .social-icons{
        margin-top: 20px;
    }
    
    }
