.lottie{
    height: auto;
   text-align: center;
    background: #291C3A;
    display: none;
    margin-top: -10px;
}


@media only screen and (max-width: 600px) {
    .lottie{
        height: auto;
        width: 100%;
        display: block;
    }
}