.skill-container{
    width: auto;
    background-color: #331C52;
    padding:50px;
    display: flex;
    flex-direction: column;
    justify-content: start
}
.main-container{
    display: flex;
    padding: 50px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    overflow: hidden;

    
    margin-bottom: 20px;
}
h1{
    color: #ffff;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    padding-bottom: 20px;
}
.skill-icons img{
     height: 150px;
     width: 150px;
}
.skill-icons img:hover{
    filter: drop-shadow(0 0 2em #646cffaa)
}
.skill-icons{
    gap: 100px;
    display: flex;
}