.skill-container{
    width: auto;
    background-color: #331C52;
    padding:50px;
    display: flex;
    flex-direction: column;
    justify-content: start
}
.main-container{
    display: flex;
    flex-direction: column;

    
    margin-bottom: 20px;
}
h1{
    color: #8121D0;
    font-size: 30px;
    font-weight: bold;
}
.skill-icons img{
     height: 200px;
     width: 200px;
}